<!-- <h2 class="md-title">{{data.tasks.length}} data.TASKS LEFT</h2>
<md-list ng-init="listInit(); limitToX = 2">

	<div ng-if="!x.completed"> 
		<md-input-container class="md-icon-float md-icon-right md-block">
	      <label>NEW TASK</label>
	      <input ng-model="user.donation" type="text">
		  <md-icon style="transform: rotate(45deg)" class="md-secondary" aria-label="Chat" md-svg-src="img/icons/ic_close_24px.svg"></md-icon>
	    </md-input-container>
	</div>

	<md-list-item ng-repeat="x in data.tasks" index="{{$index}}" ng-if="!x.completed"> 
		<div ng-repeat="v in [0]">
		   <md-checkbox aria-label="" style="margin-bottom: 0;" ng-model="x.completed"></md-checkbox>
		</div>	    
		<p ng-if="!x.completed">{{x.text}}</p>
		<s ng-if="x.completed">{{x.text}}</s>
	    <md-icon class="md-secondary" aria-label="Chat" md-svg-src="img/icons/ic_play_arrow_24px.svg" ng-click=""></md-icon>
	    <md-icon class="md-secondary" aria-label="Chat" md-svg-src="img/icons/ic_close_24px.svg" ng-click=""></md-icon>
	</md-list-item>

	<md-list-item ng-repeat="x in data.tasks | filter: filterNormal | limitTo:limitToX" index="{{$index}}" ng-if="x.completed" class="ui-state-disableded"> 
		<div ng-repeat="v in [0]">
		   <md-checkbox aria-label="" style="margin-bottom: 0;" ng-model="x.completed"></md-checkbox>
		</div>	    
		<p ng-if="!x.completed">{{x.text}}</p>
		<s ng-if="x.completed">{{x.text}}</s>
	    <md-icon class="md-secondary" aria-label="Chat" md-svg-src="img/icons/ic_close_24px.svg" ng-click=""></md-icon>
	</md-list-item>

</md-list>
<button ng-click="limitToX=='d'?limitToX=2:limitToX = 'd'">{{limitToX=='d'?'Hide':'View All'}}</button> -->
<!-- |{{theme.colors.frame | join}}| -->
<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" ng-click="editTask();"></div>
<div class="uk-flex-center uk-padding" uk-grid ng-init="listInit(); limitToX = 2;">
	<div class="uk-width-1-3@xl uk-width-2-5@l uk-width-1-2@m uk-width-1-2@s uk-width-1">

		<h2 class="uk-text-center"><span>{{date.dayOfWeek}} {{date.day}} {{date.month}}</span></h2>
	    <h5 class="uk-heading-line uk-text-center"><span>{{date.time}}</span></h5>


	    <ul class="uk-list uk-list-striped">
	        <li class="ui-state-disableded input" ng-click="editTask();"><input ng-model="app.inputText" type="text" placeholder="Write your next task here..." ng-keypress="addTask($event)"><img src="/img/add.png" ng-click="addTask()"></li>
	        <li class="not-completed {{x.editable?'ui-state-disableded':''}}" ng-repeat="x in data.tasks" index="{{$index}}" ng-if="!x.completed" ng-click="x.editable?0:editTask();">
	        	<span class="task-mark" style="border-color: rgba(216, 0, 39, {{1/data.tasks.length*(data.tasks.length-$index)}})"><img src="/img/play.png"></span>
	        	<label ng-init="x.editable=!1;" contenteditable="{{x.editable}}" ng-bind="x.text" ng-keyup="task2('editing', x, $event.currentTarget)" ng-click="task2('done', x)"></label>
	        	<span class="task-options">
	        		<img src="/img/play.png" ng-click="task2('play', x, $index)">
	        		<img src="/img/edit.png" ng-click="task2('edit', x, $event.currentTarget); x.editable=!0;">
	        		<img class="removTask" src="/img/cancel.png" ng-click="task2('remove', $index)">
	        	</span>
	        </li>    
	        <li ng-repeat="x in data.tasks | filter: filterNormal | limitTo:limitToX" index="{{$index}}" ng-if="x.completed" class="ui-state-disableded completed" ng-click="x.editable?0:editTask();">
	        	<label ng-init="x.editable=!1;" ng-click="x.completed=!1; arrayProc();">{{x.text}}</label>
	        	<span class="task-options">
	        		<img class="removTask" src="/img/cancel.png" ng-click="task2('remove', $index)">
	        	</span>
	        </li>
	        <li ng-if="!data.tasks.length">No tasks! Add one right now.</li>
	        <button ng-hide="completedCount < 3" style="margin: 0 !important;" class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom uk-button-small" ng-click="limitToX=='d'?limitToX=2:limitToX = 'd'; editTask();">{{limitToX=='d'?'Hide':'View All'}}</button>
	    </ul>
		<!-- <button style="position: relative;" class="uk-button uk-button-default" ng-click="window.UIkit.modal(window.$('#modal-overflow')[0]).show()">Open</button> -->
	</div>
</div>
<div class="options">
    <a ng-click="window.UIkit.modal(window.$('#modal-overflow')[0]).show();" uk-icon="icon: question" class="uk-margin-small-right" ng-if="window.questionMark"></a>
    <a href="#!/settings" uk-icon="icon: settings"></a>
</div>